{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
{% endblock %}

{% block page_content %}
  {{ block.super }}
  <section class="content">
      <section class="hotel-page">
    <div class="container">
      <div class="hotel-page-inner">
        <aside class="hotel-page-left">

        </aside>

        <content class="hotel-page-content">
          <div class="outer">
                <div id="big" class="owl-carousel owl-theme">
                  <div class="item"><img src="{% static 'assets/images/img_1.jpg' %}"></div>
                  <div class="item"><img src="{% static 'assets/images/img_2.jpg' %}"></div>
                  <div class="item"><img src="{% static 'assets/images/img_3.jpg' %}"></div>
                </div>
                <div id="thumbs" class="owl-carousel owl-theme">
                  <div class="item"><img src="{% static 'assets/images/img_1.jpg' %}"></div>
                  <div class="item"><img src="{% static 'assets/images/img_2.jpg' %}"></div>
                  <div class="item"><img src="{% static 'assets/images/img_3.jpg' %}"></div>
                </div>
            </div>
        </content>
      </div>
    </div>
  </section>

  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}
