{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block page_content %}
  {{ block.super }}
  <section class="content">
    <div class="add-form">
      <div class="container">
        <form method="post">
          {% csrf_token %}
          <div class="messages">
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{field.name}} {{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label>Nomi</label>
            {{ form.name }}
          </div>
          <div class="form-group">
            <label>Mehmonxona turi</label>
            {{ form.event_category }}
          </div>
          <div class="form-group">
            <label>Matn</label>
            {{ form.text }}
          </div>
          <div class="form-group">
            <label>Rasm</label>
            {{ form.image }}
          </div>
          <div class="form-group">
            <label>Email</label>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label>Telefon</label>
            {{ form.phone }}
          </div>
          <div class="form-group">
            <label>Manba(sayt)</label>
            {{ form.source_url }}
          </div>

          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Manzil</label>
                    {{ form.address }}
                </div>
            </div>
            <div class="col-md-12">
                <div><span>Xaritadagi joyni tanlang yoki koordinatalarni kiriting</span></div>
                <div id="map" class="map-container view-place-map-container" style="width: 100%; height: 300px;"></div>
                <div class="form-group">
                    <input name="latitude" type="hidden">
                </div>
                <div class="form-group">
                    <input name="longitude" type="hidden">
                </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Qo'shish">
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=08b75e37-75f6-485b-9c9b-b7246841358b&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript">

    ymaps.ready(init);

    function init() {
        var lat = 41.335918;
        var lng = 64.424532;
        var myPlacemark = null;

        var myMap = new ymaps.Map("map", {
            center: [lat, lng],
            zoom: 5
        });

        // Слушаем клик на карте.
        myMap.events.add('click', function (e) {
            var coords = e.get('coords');

            $('input[name="longitude"]').val(coords[1]);
            $('input[name="latitude"]').val(coords[0]);

            // Если метка уже создана – просто передвигаем ее.
            if (myPlacemark) {
                myPlacemark.geometry.setCoordinates(coords);
            }
            // Если нет – создаем.
            else {
                myPlacemark = createPlacemark(coords);
                myMap.geoObjects.add(myPlacemark);
                // Слушаем событие окончания перетаскивания на метке.
                myPlacemark.events.add('dragend', function () {
                    getAddress(myPlacemark.geometry.getCoordinates());
                });
            }
            getAddress(coords);
        });

        // Создание метки.
        function createPlacemark(coords) {
            return new ymaps.Placemark(coords, {
                iconCaption: 'поиск...'
            }, {
                preset: 'islands#violetDotIconWithCaption',
                draggable: true
            });
        }

        // Определяем адрес по координатам (обратное геокодирование).
        function getAddress(coords) {
            myPlacemark.properties.set('iconCaption', 'поиск...');
            ymaps.geocode(coords).then(function (res) {
                var firstGeoObject = res.geoObjects.get(0);

                myPlacemark.properties
                    .set({
                        // Формируем строку с данными об объекте.
                        iconCaption: [
                            // Название населенного пункта или вышестоящее административно-территориальное образование.
                            firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                            // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                            firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                        ].filter(Boolean).join(', '),
                        // В качестве контента балуна задаем строку с адресом объекта.
                        balloonContent: firstGeoObject.getAddressLine()
                    });
                $('#id_address').val(firstGeoObject.getAddressLine());
            });
        }
      }
  </script>
{% endblock %}
