{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css' %}">
{% endblock %}

{% block page_content %}
  <section class="content">
    <section class="hotels-page">
    <div class="container">
      <div class="hotels-page-inner">
        <aside class="hotels-page-left">
          <div class="hotel-map">
            <div id="map"></div>

             <script>
                // Initialize and add the map
                function initMap() {
                  // The location of Uluru
                  var uluru = {lat: 41.5026497, lng: 62.1295331};
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 4, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({position: uluru, map: map});
                }
              </script>

         <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxaXyZpvRIBIAR_Aj3vqbjTE_BhCMmMoU&callback=initMap">
        </script>
          </div>
          <div class="range-filter">
          <h2 class="text-black">Narxlar</h2>
            <input type="text" class="js-range-slider" name="my_range" value="" data-type="double" data-min="0" data-max="1000" data-from="200" data-to="500" data-grid="true" data-prefix="$", data-skin="big"/>
          </div>
          <div class="stars-filter">
          <h2 class="text-black">Mehmonxona sinfi</h2>
            <ul>
              <li><input type="checkbox" class="form-check-input" name="checkbox4"> 5 stars </li>
              <li><input type="checkbox" class="form-check-input" name="checkbox3"> 4 stars </li>
              <li><input type="checkbox" class="form-check-input" name="checkbox2"> 3 stars </li>
              <li><input type="checkbox" class="form-check-input" name="checkbox1"> 2 stars </li>
            </ul>
          </div>
        </aside>

        <content class="hotels-page-content">
          <div class="hotels">
              {% for object in object_list %}

            <div class="hotel">
              <div class="hotel-img">
                <div class="owl-carousel owl-theme" id="owl-hotel-1">
                  <div class="item"><img src="{% static 'assets/images/img_1.jpg' %}"></div>
                  <div class="item"><img src="{% static 'assets/images/img_2.jpg' %}"></div>
                  <div class="item"><img src="{% static 'assets/images/img_3.jpg' %}"></div>
                </div>
              </div>
              <div class="hotel-name">
                <h2>{{ object.name }}</h2>
                <p class="hotel-price">500 $</p>
                <div class="dateil"><a href="{% url 'apps.hotel:hotel_detail' object.id %}">Batafsil</a></div>
              </div>
              <div class="hotel-others">
              <div class="comments">
                <input id="input-id-1" name="input-name" type="number" class="rating" min=1 max=5 step=1 data-size="sm">
                <p>#1 Best Value of 4,269 places to stay in Istanbul</p>
              </div>
                <ul class="hotel-extra">
                  <li><span class="icon-wifi"></span> Tekin wifi</li>
                  <li><span class="icon-car"></span> Bepul parkovka</li>
                </ul>
              </div>
            </div>

              {% endfor %}
          </div>
        </content>
      </div>
    </div>
  </section>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script type="application/javascript" src="{% static 'assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
    <script>
      $(".js-range-slider").ionRangeSlider();
      // $(".js-range-slider").ionRangeSlider({
      //   type: "double",
      //   min: 0,
      //   max: 1000,
      //   from: 200,
      //   to: 500,
      //   grid: true,
      //   prefix: "$",
      //   skin: 'big'
      // });
    </script>
{% endblock %}
