{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
  {{ form.media.css }}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'assets/libs/jquery-datetimepicker/css/tempusdominus-bootstrap-4.min.css' %}" />
{% endblock %}

{% block page_content %}
  <section class="content">
    <div class="add-form">
      <div class="container">
        <form method="post">
          {% csrf_token %}
          <div class="messages">
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{field.name}} {{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label>Kategoriyani tanlang</label>
              <p>{{ form.event_category }}</p>
          </div>
          <div class="form-group">
            <label>Nomi</label>
            {{ form.name }}
          </div>
          <div class="form-group">
            <label>Matn</label>
            {{ form.text }}
          </div>
          <div class="form-group">
            <label>Rasm</label>
            {{ form.image }}
          </div>
          <div class="form-group">
            <label>Email</label>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label>Sertifikat</label>
            {{ form.certificate }}
          </div>
          <div class="form-group">
            <label>Viloyat</label>
            <select id="regions"></select>
          </div>
          <div class="form-group">
            <label>Tuman</label>
            <select id="district" disabled="disabled"></select>
          </div>
          <div class="form-group">
            <label>Maxalla</label>
            <select id="neighborhood" disabled="disabled" name="neighborhood"></select>
          </div>
          <div class="form-group">
            <label>Manba(sayt)</label>
            {{ form.source_url }}
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                  <label>Boshlanish sanasi va vaqti</label>
                    <div class="input-group date" id="date-start" data-target-input="nearest">
                        <input type="text" name="start_date" class="form-control datetimepicker-input" data-target="#date-start"/>
                        <div class="input-group-append" data-target="#date-start" data-toggle="datetimepicker">
                            <div class="input-group-text"><span class="glyphicon icon-calendar"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Tugash sanasi va vaqti</label>
                     <div class="input-group date" id="date-end" data-target-input="nearest">
                        <input type="text" name="end_date" class="form-control datetimepicker-input" data-target="#date-end"/>
                        <div class="input-group-append" data-target="#date-end" data-toggle="datetimepicker">
                            <div class="input-group-text"><span class="glyphicon icon-calendar"></span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Manzil</label>
                    {{ form.address }}
                </div>
            </div>
            <div class="col-md-12">
                <div><span>Xaritadagi joyni tanlang yoki koordinatalarni kiriting</span></div>
                <div id="map" class="map-container view-place-map-container" style="width: 100%; height: 300px;"></div>
                <div class="form-group">
                    <input name="latitude" type="hidden">
                </div>
                <div class="form-group">
                    <input name="longitude" type="hidden">
                </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Qo'shish">
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'assets/libs/select2/select2.full.min.js' %}"></script>
  {{ form.media.js }}
  <script type="text/javascript" src="{% static 'assets/libs/jquery-datetimepicker/js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/libs/jquery-datetimepicker/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=08b75e37-75f6-485b-9c9b-b7246841358b&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/pages/events/event-create.js' %}"></script>
{% endblock %}
