{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
    {{block.super}}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'assets/libs/jquery-datetimepicker/css/tempusdominus-bootstrap-4.min.css' %}" />
{% endblock %}

{% block page_content %}
  {{ block.super }}
  <section class="content">
        <section class="events">
          <div class="container">
            <div class="event-filter-box">
            <div class="even-title">
              <h2 class="font-weight-light text-black">Tadbirlar</h2>
            </div>
            <div class="event-filter">
              <form>
                  <div class="event-filter-input">
                    <div class="form-group event-category-group">
                        <label>Viloyat</label>
                        {{ form.region }}
                    </div>
                      <div class="form-group event-category-group">
                        <label>Kategoriya</label>
                        {{ form.event_category }}
                    </div>
                    <div class="form-group">
                        <div class="input-group date" id="date" data-target-input="nearest">
                            {{ form.end_date }}
                            <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                <div class="input-group-text"><span class="glyphicon icon-calendar"></span></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group form-group-send-button">
                    <input type="submit" class="btn btn-primary pull-right" value="Saralash">
                  </div>
              </form>
            </div>
          </div>

          <div class="event-content">
              {% for object in object_list %}
              <div class="event-item">
                  <a href="{% url 'apps.event:event_detail' object.id %}">
                      {% if object.image %}
                      <div class="event-item-img" style="background-image: url({{ object.image.url }})">
                      </div>
                      {% else %}
                      <div class="event-item-img" style="background-image: url({% static 'assets/images/event.jpg' %})">
                      </div>
                      {% endif %}
                      <div class="event-item-text">
                          <h3 class="event-item-title">{{ object.name }} </h3>
                          <p class="even-item-date"><span class="icon-calendar"></span> {{ object.start_date }}</p>
                          <p class="even-item-date"><span class="icon-calendar"></span> {{ object.end_date }}</p>
                          <p class="even-item-map"><span class="icon-address-book"></span> {{ object.address }}</p>
                          <p class="even-item-map"><span class="icon-address-book"></span> {{ object.neighborhood.first.district.region.name }}</p>
                          <p class="even-item-map">
                              {% if object.text|length > 80 %}
                                {{ object.text|slice:80 }}...
                              {% else %}
                                {{ object.text }}
                              {% endif %}
                          </p>
                      </div>
                  </a>
              </div>
              {% endfor %}
          </div>
          <div class="paginator">
              {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                      {% if library.number == i %}
                        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
      </div>
    </section>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'assets/libs/jquery-datetimepicker/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/libs/jquery-datetimepicker/js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">
      $(function () {
          $('#date').datetimepicker({
            format: 'YYYY-MM-DD',
          });
      });
  </script>
{% endblock %}
