/* Base */
body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 1rem;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.border-2 {
    border-width: 2px;
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background: #000 !important;
}

.color-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible;
}

.btn {
    border-radius: 0;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-black {
    color: #fff;
    background-color: #000;
}

.btn.btn-black:hover {
    color: #000;
    background-color: #fff;
}

.btn.btn-primary {
    border: 2px solid transparent;
}

.btn.btn-primary:hover {
    border: 2px solid #000;
    background: none !important;
    color: #000 !important;
}

.line-height-1 {
    line-height: 1 !important;
}

.bg-black {
    background: #000;
}

.form-control {
    height: 43px;
    border-radius: 0;
}

.form-control:active, .form-control:focus {
    border-color: #ef6c57;
}

.form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.event-content {
    display: flex;
    justify-content: flex-start;
    padding: 50px 0;
    flex-wrap: wrap;
}

.event-item-img {
    height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3.event-item-title {
    font-size: 16px;
    font-weight: bold;
    color: #676767;
    margin: 0 0 10px 0;
    line-height: 1.4;
}
.paginator {
    text-align: center;
}
.paginator .pagination {
    display: inline-flex;
}

.event-item-text {
    padding: 15px;
    background-color: #fafafa;
    transition: all 0.1s ease-in;
}

.event-item {
    width: calc(25% - 11.25px);
    margin-bottom: 10px;
    margin-right: 15px;
}

.event-item:nth-child(4n) {
    margin-right: 0;
}

p.even-item-map {
    margin-bottom: 5px;
}

p.even-item-date {
    margin-bottom: 5px;
}

.add-form input, .add-form textarea {
    border-radius: 4px;
}

.input-group.date .input-group-addon {
    cursor: pointer;
    font-size: 42px;
    position: absolute;
    right: 0;
    top: -11px;
}

/* Custom css */

.search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search-section input {
    border-radius: 4px;
}

section.maps {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

aside.map-left {
    flex-basis: 25%;
    padding: 0 5px;
}

content.map-right {
    flex-basis: 75%;
}

.search-section input.form-control:last-child {
    flex-basis: 30%;
}

.search-section input.form-control:first-child {
    margin-right: 5px;
    flex-basis: 70%;
}

.filter-tab a {
    padding: 5px;
}

.filter-tab img {
    width: 50px;
}

.filter-tab li {
    position: relative;
}

.filter-tab input {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
}

div.tab-content {
    border: 1px solid #dee2e6;
    padding: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0;
}

div.tab-content ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 7px 0 0 0;
}

li.child-filter {
    margin-right: 5px;
    position: relative;
}

.filter-tab li {
    position: relative;
}

img.child-icon {
    width: 35px;
}

li.child-filter input {
    width: 15px;
    height: 15px;
}

.fiter-section {
    margin-bottom: 15px;
}

.card-header {
    padding: 0;
    margin-bottom: 7px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px !important;
}

.card {
    border: none;
}

.card-header button {
    color: #000 !important
}

.collapse {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: -8px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 8px;
}

.card-body {
    padding: 0 5px;
}

.card-body ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 5px 0 5px 0;
}

li.child-filter input {
    position: absolute;
    right: 0;
    bottom: 0;
}

.search-filter input {
    border-radius: 4px;
    margin: 5px 0 5px 0;
}

.filter-buttons button {
    border-radius: 4px;
}

.filter-buttons {
    text-align: center;
}

.filter-section-2 {
    margin-bottom: 8px;
}

.card-header span {
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
}

.card-header button.collapsed + span.icon-plus {
    display: block;
}

.card-header button + span.icon-plus {
    display: none;
}

span.icon-plus + span.icon-minus {
    display: block;
}

ul.event-category-inner {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

ul.event-category-inner li {
    width: 12%;
}

.form-check.event-category {
    display: none;
    margin: 15px 0 20px;
}

.add-form, section.maps {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.hotels-page {
    background-color: #e5e5e5;
    padding: 20px 0;

}

.hotels-page-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

aside.hotels-page-left {
    flex-basis: 30%;
    background-color: #fff;
    padding: 20px;
}

.hotel-map {
    margin-bottom: 20px;
}

.hotel-map #map {
    height: 200px;
}

.range-filter h2 {
    margin-bottom: 12px;
    font-size: 24px;
}

.stars-filter h2 {
    margin-bottom: 12px;
    font-size: 24px;
}

content.hotels-page-content {
    flex-basis: calc(70% - 30px);
    width: calc(70% - 30px);
    margin-left: 30px;
}

.owl-dot.active span {
    background-color: #fff !important;
}

.item:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.owl-nav {
    position: absolute;
    top: 43%;
    width: 100%;
}

.owl-nav {
    position: absolute;
    top: 43%;
    width: 100%;
}

.owl-prev {
    left: 0;
    background: #000 !important;
    padding: 10px 15px !important;
    margin-left: 0 !important;
}

.owl-next {
    right: 0;
    background: #000 !important;
    padding: 10px 15px !important;
    margin-right: 0 !important;
}

.owl-nav span {
    font-size: 18px;
}

.hotel {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 15px;
}

.hotel-img {
    width: 35%;
}

.dateil a {
    border-color: #fc0 #e4a000 #e4a000 #fc0;
    background-color: #fc0;
    color: #000;
    padding: 8px 20px;
    font-weight: bolder;
    border-radius: 4px;
    display: block;
}

.hotel-name h2 {
    font-size: 24px;
    color: #000a12;
    font-weight: 700;
}

p.hotel-price {
    font-size: 20px;
    color: #000a12;
    font-weight: bold;
}

.hotel-name {
    width: 35%;
    padding: 20px;
    border-right: 1px dotted #ccc;
    text-align: center;
}

.hotel-others {
    width: 30%;
    padding: 20px;
}

.hotel-extra {
    list-style: none;
    padding: 0;
}

.owl-nav {
    display: none;
}

.hotel-img:hover .owl-nav {
    display: block;
}

.outer {
    margin: 0 auto;
    max-width: 800px;
}

#big .item {
    margin: 2px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
}

#thumbs .item {
    background: #C9C9C9;
    height: 70px;
    line-height: 70px;
    padding: 0px;
    margin: 2px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#thumbs .item h1 {
    font-size: 18px;
}

#thumbs .current .item {
    background: #FF5722;
}

.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#big.owl-theme {
    position: relative;
}

#big.owl-theme .owl-next, #big.owl-theme .owl-prev {
    background: #333;
    width: 22px;
    line-height: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
}

#big.owl-theme .owl-prev {
    left: 10px;
}

#big.owl-theme .owl-next {
    right: 10px;
}

#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev {
    background: #333;
}

div#thumbs .owl-dots {
    display: none;
}

.hotel-page {
    background-color: #e5e5e5;
    padding: 20px 0;
}

.hotel-page-inner {
    display: flex;
    justify-content: space-between;
}

aside.hotel-page-left {
    width: calc(30% - 15px);
    margin-right: 15px;
    background-color: #fff;
}

content.hotel-page-content {
    width: calc(70% - 15px);
    margin-left: 15px;
}

.stars-filter {
    margin-top: 20px;
}

.stars-filter ul {
    padding-left: 20px;
}

.stars-filter input {
    width: 15px;
    height: 15px;
}

/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
#map {
    height: 100%;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

.event-filter-box {
    display: flex;
    justify-content: space-between;
}

section.events {
    padding: 15px 0;
}

.event-filter-input {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.form-group.event-category-group {
    display: flex;
    flex-direction: column;
}

.form-group.form-group-send-button {
    display: flex;
    justify-content: flex-end;
}

span.select2-selection.select2-selection--multiple input {
    margin: 0 !important;
}

.event-filter-input .form-group {
    margin-right: 10px;
}

.event-filter-input .form-group:last-child {
    margin-right: 0;
}

.event-filter-input .form-group select {
    height: 40px;
    border-radius: 6px;
}

.event-filter-input .form-group input {
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
    outline: none !important;
    border: 1px solid #ccc;
}

.event-item-text p {
    word-wrap: break-word;
    color: #676767;
}

.event-detail-bg {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.event-detail-bg:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.event-detail-short {
    box-shadow: 0px 1px 5px 2px rgba(197, 197, 197, 0.5);
    -webkit-box-shadow: 0px 1px 5px 2px rgba(197, 197, 197, 0.5);
    -moz-box-shadow: 0px 1px 5px 2px rgba(197, 197, 197, 0.5);
    padding: 15px 0;
    margin-bottom: 20px;
}

.event-detail-map #map {
    height: 400px;
    width: 100%;
}

.event-detail-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 20px 0;
}

.event-detail-left {
    flex-basis: 75%;
}

/* End of custom css */

.site-section {
    padding: 2.5em 0;
}

@media (min-width: 768px) {
    .site-section {
        padding: 5em 0;
    }
}

.site-section.site-section-sm {
    padding: 4em 0;
}

.site-section-heading {
    position: relative;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .site-section-heading {
        font-size: 4rem;
    }
}

.site-section-heading:after {
    content: "";
    left: 0%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 1px;
    background: #ef6c57;
}

.site-section-heading.text-center:after {
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 1px;
    background: #ef6c57;
}

.border-top {
    border-top: 1px solid #edf0f5 !important;
}

.site-footer {
    padding: 4em 0;
    background: #333333;
}

@media (min-width: 768px) {
    .site-footer {
        padding: 8em 0;
    }
}

.site-footer p {
    color: #737373;
}

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff;
}

.site-footer a {
    color: #999999;
}

.site-footer a:hover {
    color: white;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer .footer-heading {
    font-size: 20px;
    color: #fff;
}

.bg-text-line {
    display: inline;
    background: #000;
    -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
    box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
    color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
    color: rgba(0, 0, 0, 0.5);
}

.hover-bg-enlarge {
    overflow: hidden;
    position: relative;
}

@media (max-width: 991.98px) {
    .hover-bg-enlarge {
        height: auto !important;
    }
}

.hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out;
}

.hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
        height: 300px !important;
    }
}

.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
    .img-md-fluid {
        max-width: 100%;
    }
}

@media (max-width: 991.98px) {
    .display-1, .display-3 {
        font-size: 3rem;
    }
}

.play-single-big {
    width: 90px;
    height: 90px;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff !important;
    border-radius: 50%;
    position: relative;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
}

.play-single-big:hover {
    width: 120px;
    height: 120px;
}

.overlap-to-top {
    margin-top: -150px;
}

/* Navbar */
.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
}

.site-navbar.transparent {
    background: transparent;
}

.site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.site-navbar .site-logo {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -20px;
}

.site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active > a {
    color: #ef6c57;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 0px;
    color: #000;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
    color: #ef6c57;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid #ef6c57;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #edf0f5;
    border-right: 1px solid #edf0f5;
    border-bottom: 1px solid #edf0f5;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
    color: #ef6c57 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 3px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    content: "\e315";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
    color: #ef6c57;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #ef6c57;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
    color: #ef6c57;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
    padding-left: 20px;
    font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 40px;
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
    width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
    padding-left: 15px !important;
}

/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
}

.site-blocks-cover.overlay {
    position: relative;
}

.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%;
}

.site-blocks-cover, .site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh - 73px);
}

.site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover .row {
    min-height: 600px;
    height: calc(30vh);
}

.site-blocks-cover h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    line-height: 1.5;
}

@media (max-width: 991.98px) {
    .site-blocks-cover h1 {
        font-size: 2rem;
    }
}

.site-blocks-cover p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    line-height: 1.5;
}

.site-blocks-cover .btn {
    border: 2px solid transparent;
}

.site-blocks-cover .btn:hover {
    color: #fff !important;
    background: none;
    border: 2px solid #fff;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
        font-size: 3rem;
    }
}

.site-block-subscribe .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.site-block-subscribe .form-control {
    font-weight: 300;
    border-color: #fff !important;
    height: 80px;
    font-size: 22px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.site-block-subscribe .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
}

.site-block-subscribe .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
}

.site-block-subscribe .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
}

.site-block-subscribe .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
}

.bg-light {
    background: #ccc;
}

.team-member {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

.team-member img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.team-member:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(239, 108, 87, 0.8);
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.team-member .text {
    top: 50%;
    text-align: center;
    position: absolute;
    padding: 20px;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    opacity: 0;
    visibility: hidden;
    color: #fff;
}

.team-member:hover:before, .team-member:focus:before, .team-member:active:before {
    opacity: 1;
    visibility: visible;
}

.team-member:hover img, .team-member:focus img, .team-member:active img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.team-member:hover .text, .team-member:focus .text, .team-member:active .text {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

.podcast-entry {
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
}

.podcast-entry .sep {
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc;
}

.podcast-entry .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
}

@media (min-width: 768px) {
    .podcast-entry .image {
        width: 300px;
        height: auto;
    }
}

.podcast-entry .text {
    width: 100%;
    padding: 40px;
}

@media (min-width: 768px) {
    .podcast-entry .text {
        width: calc(100% - 300px);
    }
}

.mejs__container {
    width: 100% !important;
}

@media (max-width: 991.98px) {
    .display-4 {
        font-size: 1.8rem;
    }
}

.feature-blocks-1 {
    position: relative;
    margin-top: -70px;
    z-index: 2;
    color: #999999;
}

.feature-blocks-1.no-margin-top {
    margin-top: 0px;
}

.feature-blocks-1 .feature-block-1 {
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    overflow: hidden;
    z-index: 1;
}

.feature-blocks-1 .feature-block-1.bg {
    position: relative;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.feature-blocks-1 .feature-block-1 .text {
    z-index: 10;
    position: relative;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.feature-blocks-1 .feature-block-1:before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.feature-blocks-1 .feature-block-1 p {
    color: #cccccc;
}

.feature-blocks-1 .feature-block-1:hover, .feature-blocks-1 .feature-block-1:focus, .feature-blocks-1 .feature-block-1:active {
    top: -10px;
    -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4);
}

.feature-blocks-1 .feature-block-1:hover .text, .feature-blocks-1 .feature-block-1:focus .text, .feature-blocks-1 .feature-block-1:active .text {
    opacity: 1;
    visibility: visible;
}

.feature-blocks-1 .feature-block-1:hover.bg, .feature-blocks-1 .feature-block-1:focus.bg, .feature-blocks-1 .feature-block-1:active.bg {
    position: relative;
    background-size: cover;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}

.feature-blocks-1 .feature-block-1:hover:before, .feature-blocks-1 .feature-block-1:focus:before, .feature-blocks-1 .feature-block-1:active:before {
    background: rgba(0, 0, 0, 0.9);
}

.site-blocks-vs .bg-image {
    padding-top: 3em;
    padding-bottom: 3em;
}

@media (min-width: 992px) {
    .site-blocks-vs .bg-image {
        padding-top: 5em;
        padding-bottom: 5em;
    }
}

.site-blocks-vs .image {
    width: 80px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
}

@media (max-width: 991.98px) {
    .site-blocks-vs .image {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.site-blocks-vs .image img {
    border-radius: 50%;
}

.site-blocks-vs .image.image-small {
    width: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}

.site-blocks-vs .country {
    color: rgba(255, 255, 255, 0.7);
}

.match-entry {
    position: relative;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.match-entry .small {
    color: #ccc;
    font-weight: normal;
    letter-spacing: .15em;
}

.match-entry:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 90;
    -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
}

.post-entry {
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.post-entry, .post-entry .text {
    border-radius: 4px;
    border-top: none !important;
}

.post-entry .date {
    color: #ccc;
    font-weight: normal;
    letter-spacing: .1em;
}

.post-entry .image {
    overflow: hidden;
    position: relative;
}

.post-entry .image img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.site-block-tab .nav-item {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0 20px;
}

.site-block-tab .nav-item:first-child {
    margin-left: 0 !important;
}

.site-block-tab .nav-item > a {
    padding-left: 0 !important;
    background: none !important;
    padding-right: 0 !important;
    border-bottom: 2px solid transparent;
    border-radius: 0 !important;
    font-weight: bold;
    color: #cccccc;
}

.site-block-tab .nav-item > a:hover, .site-block-tab .nav-item > a.active {
    border-bottom: 2px solid #ef6c57;
    color: #000;
}

.block-13, .slide-one-item {
    position: relative;
    z-index: 1;
}

.block-13 .owl-nav, .slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #000;
}

.block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
    opacity: .2;
}

.slide-one-item.home-slider .owl-nav {
    position: absolute !important;
    top: 50% !important;
    bottom: auto !important;
    width: 100%;
}

.slide-one-item.home-slider .owl-prev {
    left: 10px !important;
}

.slide-one-item.home-slider .owl-next {
    right: 10px !important;
}

.slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
    color: #fff;
    position: absolute !important;
    top: 50%;
    padding: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    line-height: 0;
    text-align: center;
    font-size: 25px;
}

@media (min-width: 768px) {
    .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
        font-size: 25px;
    }
}

.slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slide-one-item.home-slider .owl-prev:hover, .slide-one-item.home-slider .owl-prev:focus, .slide-one-item.home-slider .owl-next:hover, .slide-one-item.home-slider .owl-next:focus {
    background: black;
}

.slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {
    opacity: 10;
    visibility: visible;
}

.block-12 {
    position: relative;
}

.block-12 figure {
    position: relative;
}

.block-12 figure:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.block-12 .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 10;
}

.block-12 .text-overlay h2 {
    color: #fff;
}

.block-12 .text {
    position: relative;
    top: -100px;
}

.block-12 .text .meta {
    text-transform: uppercase;
    padding-left: 40px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

.block-12 .text .text-inner {
    -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 10px;
    margin-right: 30px;
    position: relative;
}

@media (min-width: 576px) {
    .block-12 .text .text-inner {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .block-12 .text .text-inner {
        padding: 30px 40px;
    }
}

.block-12 .text .text-inner:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 4px;
    margin-top: -4px;
    background: #ef6c57;
    top: 0;
}

.block-12 .text .text-inner .heading {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.block-16 figure {
    position: relative;
}

.block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #ef6c57 !important;
}

.block-16 figure .play-button:hover {
    opacity: 1;
}

.block-16 figure .play-button > span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
}

.block-25 ul, .block-25 ul li {
    padding: 0;
    margin: 0;
}

.block-25 ul li a .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}

.block-25 ul li a .image img {
    border-radius: 4px;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.block-25 ul li a .text .heading {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #999999;
}

.block-25 ul li a .meta {
    color: #ef6c57;
}

.block-25 ul li a:hover img {
    opacity: .5;
}

.block-25 ul li a:hover .text .heading {
    color: #fff;
}

#date-countdown .countdown-block {
    color: #b3b3b3;
}

#date-countdown .label {
    font-size: 40px;
    color: #000;
}

.next-match .image {
    width: 50px;
    border-radius: 50%;
}

.player {
    position: relative;
}

.player img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.player .team-number {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ef6c57;
    border-radius: 50%;
    color: #fff;
}

.player .team-number > span {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.player h2 {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.player .position {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.site-block-27 ul, .site-block-27 ul li {
    padding: 0;
    margin: 0;
}

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #ef6c57;
    color: #fff;
    border: 1px solid transparent;
}

.site-block-feature-7 .icon {
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.site-block-feature-7:hover .icon, .site-block-feature-7:focus .icon, .site-block-feature-7:active .icon {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.unit-1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
}

.unit-1:after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.unit-1 img {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.unit-1 img, .unit-1 .unit-1-text {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.unit-1 .unit-1-text {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    color: #fff;
    display: block;
    width: 100%;
}

.unit-1 .unit-1-text .unit-1-heading {
    font-size: 1.2rem;
    position: relative;
}

.unit-1:hover .unit-1-text {
    bottom: 30px;
}

.unit-1:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.overlap-section {
    margin-top: -150px;
    position: relative;
    z-index: 9;
}

.unit-4 .unit-4-icon span {
    line-height: 0;
    font-size: 3rem;
}

.unit-4 h3 {
    font-size: 20px;
}

.h-entry img {
    margin-bottom: 30px;
}

.h-entry .meta {
    color: #b3b3b3;
    font-size: 14px;
}

.h-entry h2 {
    font-size: 20px;
}

.overlap-left {
    margin-left: -100px;
}

span.select2.select2-container.select2-container--default {
    width: 215px !important;
}

.select2-container--default .select2-selection--multiple {
    height: 40px;
}

@media (max-width: 991.98px) {
    .overlap-left {
        margin-left: 0;
    }
}

.select2-container .select2-selection--single {
    height: auto;
    min-height: 43px
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 7px
}