{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'assets/libs/jquery-datetimepicker/css/tempusdominus-bootstrap-4.min.css' %}" />
{% endblock %}

{% block page_content %}
  {{ block.super }}
  <section class="content">
        <section class="events">
      <div class="container">
        <div class="event-filter-box">
        <div class="even-title">
          <h2 class="font-weight-light text-black">Tadbirlar</h2>
        </div>
        <div class="event-filter">
          <form>
              <div class="event-filter-input">
                <div class="form-group">
              <select class="form-control" name="event_category">
                <option>Ekskursiya</option>
                <option>Festival</option>
                <option>Konsert</option>
                <option>Sayl o'yin</option>
                <option>Kecha</option>
                <option>Ko'rgazma</option>
                <option>Seminar</option>
                <option>Konferensiya</option>
                <option>Forum</option>
                <option>Ko'ngil ochar</option>
                <option>Gastronomik</option>
              </select>
            </div>
              <div class="form-group">
                 <div class="input-group date" id="date" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#date" name="date"/>
                    <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                        <div class="input-group-text"><span class="glyphicon icon-calendar"></span></div>
                    </div>
                </div>
              </div>
            <div class="form-group">
              <input type="text" name="location" placeholder="Location">
            </div>
            <div class="form-group">
              <select class="form-control" name="event_price">
                <option>Narx</option>
                <option>Hammasi</option>
                <option>Tekin</option>
                <option>Pulli</option>
              </select>
            </div>
              </div>
          </form>
        </div>
      </div>

          <div class="event-content">
              {% for object in object_list %}
              <div class="event-item">
                  <a href="{% url 'apps.event:event_detail' object.id %}">
                      {% if object.image %}
                      <div class="event-item-img" style=" background-image: url({{ object.image.url }})">
                      </div>
                      {% endif %}
                      <div class="event-item-text">
                          <h3 class="event-item-title">{{ object.name }} </h3>
                          <p class="even-item-date"><span class="icon-calendar"></span> {{ object.start_date }}</p>
                          <p class="even-item-map"><span class="icon-address-book"></span> {{ object.address }}</p>
                      </div>
                  </a>
              </div>
              {% endfor %}
          </div>
      </div>
    </section>
  </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'assets/libs/jquery-datetimepicker/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/libs/jquery-datetimepicker/js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript">
      $(function () {
          $('#date').datetimepicker({
            format: 'YYYY-MM-DD',
          });
      });
  </script>
{% endblock %}
