{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'assets/libs/social-kit/css/social-share-kit.css' %}" />
{% endblock %}

{% block page_content %}
  <section class="content">
       <div class="event-detail">
           <div class="event-detail-bg" style="background-image: url({{ object.image.url }})">

           </div>
                <div class="event-detail-short">
                    <div class="container">
                        <p class="even-item-date"><span class="icon-calendar"></span> {{ object.start_date|date:"d M Y" }}</p>
                    <p class="even-item-map"><span class="icon-address-book"></span> {{object.address}}</p>
                    </div>
                </div>
               <div class="event-detail-content">
                    <div class="container">
                        <div class="event-description-title"> {{ object.name }} </div>
                        <div class="event-detail-inner">
                            <div class="event-detail-left">
                                <div class="event-description-text">
                                {{ object.text }}
                                </div>
                            </div>
                            <div class="event detail-right">
                                <div class="ssk-group">
                                    <a href="" class="ssk ssk-facebook"></a>
                                    <a href="" class="ssk ssk-twitter"></a>
                                    <a href="" class="ssk ssk-google-plus"></a>
                                    <a href="" class="ssk ssk-pinterest"></a>
                                    <a href="" class="ssk ssk-tumblr"></a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="event-detail-map">
                    <div id="map"></div>
                    <script>
                // Initialize and add the map
                function initMap() {
                  // The location of Uluru
                  var uluru = {lat: 41.5026497, lng: 62.1295331};
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 6, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({position: uluru, map: map});
                }
              </script>

               <script async defer
                       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwsx3hw-XCvOFwh-Q6QVTrI-7bhSkoO4M&callback=initMap">
               </script>
               </div>
       </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script type="text/javascript" src="{% static 'assets/libs/social-kit/js/social-share-kit.min.js' %}"></script>

    <script>
        SocialShareKit.init();
    </script>
{% endblock %}
