{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <meta property="og:url" content="{% block ogurl %}{% endblock %}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{% block ogtitle %}{% endblock %}"/>
  <meta property="og:description" content="{% block ogdescription %}{% endblock %}"/>
  <meta property="og:image" content="{% block ogimage %}{% endblock %}"/>
  <link rel="manifest" href="/manifest.json">
  <title>{% block title %}Ichki turizm{% endblock %}</title>

  {% block styles %}
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/ico/favicon.ico' %}" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  {% endblock %}
  {% block extrahead %}{% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/mediaelementplayer.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
</head>
<body>
{% block body %}
  <div class="wrap">
    {% block header %}{% include "components/header.html" %}{% endblock %}
    {% block page_content %}{% endblock %}
  </div>
  <footer>
    {% block footer %}{% include "components/footer.html" %}{% endblock %}
  </footer>
{% endblock %}

{% block scripts %}

  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'assets/js/aos.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/fonts/fontawesome/js/fontawesome-all.min.js' %}"></script>
{% endblock %}

{% block page_scripts %}{% endblock %}

    <script>
      $('#category').on('change', function() {
        if(this.value == "events") {
          $('.event-category').show();
        } else {
          $('.event-category').hide();
        }
      });
    </script>
</body>
</html>
