{% load static %}
<div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-1" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0"><a href="index.html" class="text-black h2 mb-0">Travelers</a></h1>
          </div>

          <div class="col-10 col-md-8 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">

                <!-- <li class="active">
                  <a href="index.html">Home</a>
                </li> -->

{#                <li class="has-children">#}
{#                  <a href="destination.html">Joylar</a>#}
{#                  <ul class="dropdown">#}
{#                    <li><a href="destination.html">Toshkent shahar</a></li>#}
{#                    <li><a href="#">Toshkent vil</a></li>#}
{#                    <li><a href="#">Farg'ona</a></li>#}
{#                    <li><a href="#">Andijon</a></li>#}
{#                    <li><a href="#">Namangan</a></li>#}
{#                    <li><a href="#">Sirdaryo</a></li>#}
{#                    <li><a href="#">Jizzax</a></li>#}
{#                    <li><a href="#">Samarqand</a></li>#}
{#                    <li><a href="#">Navoiy</a></li>#}
{#                    <li><a href="#">Buxoro</a></li>#}
{#                    <li><a href="#">Qashqadaryo</a></li>#}
{#                    <li><a href="#">Surxondaryo</a></li>#}
{#                    <li><a href="#">Xorazm</a></li>#}
{#                    <li><a href="#">Nukus</a></li>#}
{#                  </ul>#}
{#                </li>#}

                <li class="has-children"z>
                  <a href="#">Mehmonxonalar</a>
                  <ul class="dropdown">
                    <li><a href="hotels.html">Mehmonxona</a></li>
                    <li><a href="#">Uy mehmonxona</a></li>
                    <li><a href="#">Hostel</a></li>
                      <li><a href="#">Dacha</a></li>
                      <li><a href="#">O'tov</a></li>
                      <li><a href="#">Sanotoriy</a></li>
                      <li><a href="#">Bolalar oromgohi</a></li>
                      <li><a href="#">Kemping</a></li>
                  </ul>
                </li>

                <li class="has-children">
                  <a href="#">Restoranlar</a>
                  <ul class="dropdown">
                    <li><a href="#">Choyxona</a></li>
                    <li><a href="#">Kafe bar</a></li>
                    <li><a href="#">Somsaxona</a></li>
                    <li><a href="#">Tungi klub</a></li>
                  </ul>
                </li>

                <li>
                  <a href="{% url 'apps.event:event_list' %}">Tadbirlar</a>
{#                  <ul class="dropdown">#}
{#                    <li><a href="#">Ekskursiya</a></li>#}
{#                    <li><a href="#">Festival</a></li>#}
{#                    <li><a href="#">Konsert</a></li>#}
{#                    <li><a href="#">Sayl o'yin</a></li>#}
{#                    <li><a href="#">Ko'rik tanlov</a></li>#}
{#                    <li><a href="#">Kecha</a></li>#}
{#                    <li><a href="#">Ko'rgazma</a></li>#}
{#                    <li><a href="#">Seminar</a></li>#}
{#                    <li><a href="#">Konferensiya</a></li>#}
{#                    <li><a href="#">Forum</a></li>#}
{#                    <li><a href="#">Ko'ngil ochar</a></li>#}
{#                    <li><a href="#">Gastronomik</a></li>#}
{#                  </ul>#}
                </li>

                <!-- <li class="has-children">
                  <a href="#">Transport</a>
                  <ul class="dropdown">
                    <li><a href="#">Muzey</a></li>
                    <li><a href="#">Teatr</a></li>
                    <li><a href="#">Kinozal</a></li>
                    <li><a href="#">Ziyoratgoh</a></li>
                    <li><a href="#">Istirohat bog'i</a></li>
                    <li><a href="#">Markaz</a></li>
                    <li><a href="#">Sport majmuasi</a></li>
                    <li><a href="#">Sanotoriy</a></li>
                    <li><a href="#">Dam olish maskani</a></li>
                  </ul>
                </li> -->

                <li class="has-children">
                  <a href="#">Obyektlar</a>
                  <ul class="dropdown">
                    <li><a href="#">Muzey</a></li>
                    <li><a href="#">Teatr</a></li>
                    <li><a href="#">Kinozal</a></li>
                    <li><a href="#">Ziyoratgoh</a></li>
                    <li><a href="#">Istirohat bog'i</a></li>
                    <li><a href="#">Markaz</a></li>
                    <li><a href="#">Sport majmuasi</a></li>
                    <li><a href="#">Sanotoriy</a></li>
                    <li><a href="#">Dam olish maskani</a></li>
                  </ul>
                </li>

                <li><a href="map.html">Karta</a></li>
                <!--<li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>

                <li><a href="contact.html">Contact</a></li>
                <li><a href="booking.html">Book Online</a></li> -->
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right">
            <div class="d-none d-xl-inline-block">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Qo'shish
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'apps.event:event_create' %}"> Tadbir qo'shish </a>
                    <a class="dropdown-item" href="{% url 'apps.hotel:hotel_create' %}"> Mehmonxona qo'shish </a>
                  </div>
                </div>
            </div>
        </div>
      </div>

    </header>
