{% extends 'site_base.html' %}

{% load static %}

{% block extrahead %}
{% endblock %}

{% block page_content %}
  {{ block.super }}
  <section class="content">
        <section class="maps">
      <aside class="map-left">
        <form>
          <div class="search-section">
            <input class="form-control" type="text" name="name" placeholder="Nom bo'yicha qidirish" title="Nom bo'yicha qidirish">
            <input class="form-control" type="text" name="nunber" placeholder="Nomer" title="Nomer">
          </div>
          <div class="fiter-section">
            <div class="filter-tab">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" title="Tunash joyi">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><img src="{% static 'assets/images/icons/1.svg' %}"></a>
                  <input type="checkbox" class="form-check-input">
                </li>
                <li class="nav-item" title="Ajoyib ro'zgor">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><img src="{% static 'assets/images/icons/2.svg' %}"></a>
                  <input type="checkbox" class="form-check-input">
                </li>
                <li class="nav-item" title="Tarixiy-ma'daniyat">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><img src="{% static 'assets/images/icons/3.svg' %}"></a>
                  <input type="checkbox" class="form-check-input">
                </li>
                <li class="nav-item" title="Tabiat">
                  <a class="nav-link" id="nature-tab" data-toggle="tab" href="#nature" role="tab" aria-controls="nature" aria-selected="false"><img src="{% static 'assets/images/icons/4.svg' %}"></a>
                  <input type="checkbox" class="form-check-input">
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul>
                        <li class="child-filter" title="Test1"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                        <li class="child-filter" title="Test2"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    </ul>
                  </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <ul>
                    <li class="child-filter" title="Test3"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test4"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test5"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <ul>
                    <li class="child-filter" title="Test6"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test7"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test8"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test9"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="nature" role="tabpanel" aria-labelledby="nature-tab">
                  <ul>
                    <li class="child-filter" title="Test10"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test11"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test12"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test13"><img class="child-icon" src="{% static 'assets/images/icons/1.1.png' %}"><input type="checkbox" class="form-check-input"></li>
                    <li class="child-filter" title="Test14"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-section-2">
            <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Mutaxassislik
        </button>
        <span class="icon-plus"></span>
        <span class="icon-minus"></span>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
       <ul>
            <li class="child-filter" title="Test10"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
            <li class="child-filter" title="Test11"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
            <li class="child-filter" title="Test12"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
            <li class="child-filter" title="Test13"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
            <li class="child-filter" title="Test14"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
      </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Sertifikatlar va reytinglar
        </button>
        <span class="icon-plus"></span>
        <span class="icon-minus"></span>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="search-filter">
          <input type="text" class="form-control" name="search_filter">
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Xizmatlar
        </button>
        <span class="icon-plus"></span>
        <span class="icon-minus"></span>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
            <li class="child-filter" title="Test10"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
            <li class="child-filter" title="Test11"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
            <li class="child-filter" title="Test12"><img class="child-icon" src="{% static 'assets/{% static 'assets/images/icons/1.1.png' %}' %}"><input type="checkbox" class="form-check-input"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
          </div>
          <div class="filter-buttons">
            <button type="submit" class="btn btn-primary">Chiqarish</button>
            <button type="submit" class="btn btn-primary">Filterni olish</button>
          </div>
        </form>
      </aside>

      <content class="map-right">

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.5026497, lng: 62.1295331},
          zoom: 6,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxaXyZpvRIBIAR_Aj3vqbjTE_BhCMmMoU&libraries=places&callback=initAutocomplete"
         async defer></script>
      </content>
    </section>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}
